extends layout
head
block bodyContent
  script(src="javascripts/hardware.js")
  h1=title
  body
    .container-fluid
      .row
        .col-md-12
          .row
            nav.navbar.navbar-expand-lg.navbar-light.tableOptions
              ul.navbar-nav.ml-auto
                li.nav-item
                  select#searchFilter.form-control.form-control(onclick='searchHardware()')
                    option(value='0') Hardware ID
                    option(value='1') Hardware Name	
                    option(value='2') Room No
                    option(value='3') Serial No
                li.nav-item
                  form.form-inline.my-2.my-lg-0
                    input#searchInput.form-control.ml-sm-2(type='search' placeholder='Search' aria-label='Search' onkeyup='searchHardware()')

      .row
        .col-md-12
            table#hardwareDataTable.table.table-hover.shadow.p-3.mb-5.bg-white.rounded
              thead
                tr
                  th Hardware ID
                  th Hardware Name
                  th Room No
                  th Serial No
              tbody
                each row in hardwareData
                  tr.table-row
                    td.hardwareID #{row.HardwareID}
                    td.hardwareName #{row.HardwareName}
                    td.roomNo #{row.RoomNo}
                    td.serialNo #{row.SerialNo}
