extends layout
head
  link(href='stylesheets/manage-users.css' rel='stylesheet')
block bodyContent
  script(src="javascripts/manageUsers.js")
  h1=title
  body
    .container-fluid
      .row
        .col-md-12
          .row
            nav.navbar.navbar-expand-lg.navbar-light.tableOptions
              ul.navbar-nav.ml-auto
                li.nav-item
                  button.btn.btn-dark.mb-2(type="submit" onclick="openAddModal()")
                    i.fa-solid.fa-user-plus
                li.nav-item
                  select#searchFilter.form-control.form-control(onclick='searchUser()')
                    option(value='0') User ID
                    option(value='1') First Name
                    option(value='2') Surname
                    option(value='3') Department
                    option(value='4') Email
                    option(value='5') Telephone
                li.nav-item
                  form.form-inline.my-2.my-lg-0
                    input#searchInput.form-control.ml-sm-2(type='search' placeholder='Search' aria-label='Search' onkeyup='searchUser()')
              

          .row
            .col-md-12
                table#userDataTable.table.table-hover.shadow.p-3.mb-5.bg-white.rounded
                  thead
                    tr
                      th User ID
                      th First Name
                      th Surname
                      th Department
                      th Email
                      th Telephone
                  tbody
                    each user in userData
                      tr.table-row
                        td.userID #{user.UserID}
                        td.fname #{user.FirstName}
                        td.surname #{user.Surname}
                        td.deptID #{user.DeptID}
                        td.email #{user.Email}
                        td.telephone #{user.Telephone}
      
          // Modal for editing user
          #editUserModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='lbl_editUserModal' aria-hidden='true')
            // modal container
            .modal-dialog.modal-xl
              .modal-content
                .modal-header
                  h5#lbl_editUserModal.modal-title Edit User
                  button.btn.btn-danger(type='button' onclick='removeUser()')
                    i.fa-solid.fa-user-xmark
                .modal-body
                  .container-fluid
                    #parent.parent-container.d-flex.w-100
                      #editUserModal.container.w-50
                        form#editForm(method='POST')
                          // User ID field
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span#basic-addon1.input-group-text User ID
                                input#userID-modal.form-control(type='text' aria-label='userID' aria-describedby='User ID' name="userID" readonly="")
                          //User name field
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text First Name
                                input#fname-modal.form-control(type='text' aria-label='fname' name="fname")
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text  Surname
                                input#surname-modal.form-control(type='text' aria-label='surname' name="surname")
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text  Email
                                input#email-modal.form-control(type='text' aria-label='email' name="email")
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text  Telephone
                                input#telephone-modal.form-control(type='text' aria-label='telephone' name="telephone")
                          .row
                            // Speciality field
                            .col-sm
                              select#dept-modal.form-control.form-control(name="deptID")
                                option(value='1') Human Resources
                                option(value='2') Research&Development
                                option(value='3') Marketing
                                option(value='4') Accounting
                                option(value='6') Production
                                option(value='7') Specialist
                                option(value='8') Administration
                                option(value='9') External Specialist
                          // Submit button
                          .row
                            // change to sumbit type
                            
                            button.btn.btn-primary.m-3(type='button' onclick='editUserDetails()') Submit Changes

          // Modal for adding a new user
          #addNewUserModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='lbl_newUserModal' aria-hidden='true')
            // modal container
            .modal-dialog.modal-xl
              .modal-content
                .modal-header
                  h5#lbl_newUserModal.modal-title Add New User
                .modal-body
                  .container-fluid
                    #parent.parent-container.d-flex.w-100
                      #addUserModal.container.w-50
                        form#addForm(method='POST')
                          // User ID field
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span#basic-addon1.input-group-text User ID
                                input#userID-add.form-control(type='text' aria-label='Username' aria-describedby='User ID' name="userIDAdd")
                          //User name field
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text First Name
                                input#fname-add.form-control(type='text' aria-label='First name' name="fnameAdd")
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text  Surname
                                input#surname-add.form-control(type='text' aria-label='Surname' name="surnameAdd")
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text  Email
                                input#email-add.form-control(type='text' aria-label='Email' name="emailAdd")
                          .row
                            .col-sm
                              .input-group.mb-3
                                .input-group-prepend
                                  span.input-group-text  Telephone
                                input#telephone-add.form-control(type='text' aria-label='Telephone' name="telephoneAdd")
                          .row
                            // Speciality field
                            .col-sm
                              select#dept-add.form-control.form-control(name="deptIDAdd")
                                option(value='1') Human Resources
                                option(value='2') Research&Development
                                option(value='3') Marketing
                                option(value='4') Accounting
                                option(value='6') Production
                                option(value='7') Specialist
                                option(value='8') Administration
                                option(value='9') External Specialist
                          #extra.row
                            .col-sm
                              each problem in problemTypes
                                .form-check
                                  input#flexCheckDefault.form-check-input(type='checkbox' value='#{problem.ProblemTypeID}' name='#{problem.ProblemTag}')
                                  label.form-check-label(for='flexCheckDefault') #{problem.ProblemTag}
                          // Submit button
                          .row
                            // change to sumbit type
                            button.btn.btn-primary.m-3(type='button' onclick='addNewUser()') Add User